
/**
 * @see https://open-props.style/
 */
/* @import "open-props/postcss/normalize"; */
@import "open-props/normalize";
/* @import "open-props/postcss/colors-hsl"; */

:root {
	font-family: var(--font-sans);
}

body {
	min-height: 100vh;
	/* background-color: var(--stone-1); */
}

article, section, header, .page, .spaced {
  display: grid;
  gap: var(--size-4);
}

article {
  place-content: center;
  padding: var(--size-7);
}

/* nav > ul {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  gap: var(--size-5);
} */


