
/**
 * @see https://open-props.style/
 */
@import "open-props/normalize";
@import "open-props/colors-hsl";
@import "open-props/fonts";

:root {
	font-family: var(--font-sans);
}

body {
	min-height: 100vh;
	/* background-color: var(--stone-1); */
}

/* article, section, header, .page, .spaced {
  display: grid;
  gap: var(--size-4);
} */

article {
  place-content: center;
  padding: var(--size-7);
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 100; */
}

.portal {
  line-height: 1;
  font-size: 22px;
  pointer-events: none;
}

/* .absolute { position: absolute; } */